

/* Style the text that will scroll */
.marquee-text {
 
  animation: marquee 20s linear infinite;
}

/* Define the animation for scrolling */
@keyframes marquee {
  0% {
    transform: translateX(100%); /* Start off-screen to the right */
  }
  100% {
    transform: translateX(-100%); /* End off-screen to the left */
  }
}
/* Styles for Dropdown */



/* Menu Styles */



/* Swiper Styling */



